.form {
  @apply p-3;
  border-bottom: solid 1px var(--border-main);
}

.input {
  @apply p-2;
  width: 500px;
  background-color: var(--bg-input-search);
  border-radius: 12px;
}

.button {
}

.wrapper_scroll {
  @apply flex;
}

.horizon_list {
  @apply flex;
  gap: 16px;
}

.vertical_list {
  @apply flex flex-col;
  gap: 16px;
}

.chef_container {
  @apply flex;
}

.chef_description {
  @apply ml-3;
  width: 500px;
}
